extends layout

block content
  input#slug(type="hidden", value=photo.slug)
  div.container.image
    div.carousel.slide#carousel-photos(data-ride="carousel")
      div.carousel-inner
        if photo.prev
          div.item
            img(ng-src="{{photo.prev.src}}", src=photo.prev.src)
        div.item.active
          img#photojpg(ng-src="{{photo.src}}", src=photo.src)
        if photo.next
          div.item
            img(ng-src="{{photo.next.src}}", src=photo.next.src)
      if photo.previous
        a.left.carousel-control(ng-href='#carousel-photos', role="button", data-slide="prev", href=photo.previous.href)
      else
        a.left.carousel-control(ng-href='#carousel-photos', role="button", data-slide="prev", href="#")
      if photo.next
        a.right.carousel-control(ng-href='#carousel-photos', role="button", data-slide="next", href=photo.next.href)
      else
        a.right.carousel-control(ng-href='#carousel-photos', role="button", data-slide="next", href="#")
  div.container-full.description
    div.container 
      div.row
        div.col-md-8
          h1
            p(ng-bind='photo.title')= photo.title
            small(ng-bind='photo.date')= photo.date
          p(ng-bind='photo.description')= photo.description
          p 
            strong= t('category')
            | :&nbsp;
            a(href="#", ng-bind='photo.category')= photo.category
          p
            strong= t('tags')
            | :&nbsp;
            span(ng-repeat="tag in photo.tags")
              a.tag(href="#")
                span.label.label-default(ng-bind="tag")
            span.ng-hide(ng-hide="photo.tags")
              each tag in photo.tags
                a.tag(href="#")
                  span.label.label-default= tag 
          p
            strong= t('link')
            | :&nbsp;
            a(href=photo.href, ng-bind="photo.href", ng-href="{{photo.href}}")= photo.href
        div.col-md-4
          div.panel.panel-default
            div.panel-heading= t('exif.exif-data')
            div.panel-body
              table.table.table-condensed#exif-table
                tbody
                  tr
                    td.exif-icon
                      span.exif.exif-camera(title=t('exif.camera'))
                    td(ng-bind="photo.exif.model")= photo.exif.model
                  tr
                    td.exif-icon(title=t('exif.focal-length'))
                      span.exif.exif-focallength
                    td(ng-bind='photo.exif.focallength')= photo.exif.focallength
                  tr
                    td.exif-icon(title=t('exif.aperture'))
                      span.exif.exif-aperture
                    td(ng-bind='photo.exif.fnumber')= photo.exif.fnumber
                  tr
                    td.exif-icon(title=t('exif.exposure'))
                      span.exif.exif-time
                    td(ng-bind='photo.exif.exposuretime')= photo.exif.exposuretime
                  tr
                    td.exif-icon(title=t('exif.iso'))
                      span.exif.exif-film
                    td(ng-bind='photo.exif.iso')= photo.exif.iso
//                  tr
//                    td.exif-icon(title=t('exif.lens'))
//                      span.exif.exif-lens
//                    td(ng-bind='photo.lens')= photo.lens
                    