extends layout

block content
  div.container.image
    div.carousel.slide#carousel-photos(data-ride="carousel")
      div.carousel-inner
        div.item
          img(ng-src="{{photo.url.jpg.prev}}", src=photo.url.jpg.prev)
        div.item.active
          img#photojpg(ng-src="{{photo.url.jpg.current}}", src=photo.url.jpg.current)
        div.item
          img(ng-src="{{photo.url.jpg.next}}", src=photo.url.jpg.next)
      a.left.carousel-control(ng-href='#carousel-photos', role="button", data-slide="prev", href=photo.url.html.prev)
      a.right.carousel-control(ng-href='#carousel-photos', role="button", data-slide="next", href=photo.url.html.next)
  div.container-full.description
    div.container 
      div.row
        div.col-md-8
          h1
            p(ng-bind='photo.title')= photo.title
            small(ng-bind='photo.date')= photo.date
          p(ng-bind='photo.description')= photo.description
          p 
            strong= t('category')
            | :&nbsp;
            a(href="#", ng-bind='photo.category')= photo.category
          p
            strong= t('tags')
            | :&nbsp;
            span(ng-repeat="tag in photo.tags")
              a.tag(href="#")
                span.label.label-default(ng-bind="tag")
            span.ng-hide(ng-hide="photo.tags")
              each tag in photo.tags
                a.tag(href="#")
                  span.label.label-default= tag 
          p
            strong= t('link')
            | :&nbsp;
            a(href=photo.url.html.current, ng-bind="photo.url.html.current", ng-href="{{photo.url.html.current}}")= photo.url.html.current
        div.col-md-4
          div.panel.panel-default
            div.panel-heading= t('exif.exif-data')
            div.panel-body
              table.table.table-condensed#exif-table
                tbody
                  tr
                    td.exif-icon
                      span.exif.exif-camera(title=t('exif.camera'))
                    td(ng-bind="photo.camera")= photo.camera
                  tr
                    td.exif-icon(title=t('exif.focal-length'))
                      span.exif.exif-focallength
                    td(ng-bind='photo.focallength')= photo.focallength
                  tr
                    td.exif-icon(title=t('exif.aperture'))
                      span.exif.exif-aperture
                    td(ng-bind='photo.aperture')= photo.aperture
                  tr
                    td.exif-icon(title=t('exif.exposure'))
                      span.exif.exif-time
                    td(ng-bind='photo.exposure')= photo.exposure
                  tr
                    td.exif-icon(title=t('exif.iso'))
                      span.exif.exif-film
                    td(ng-bind='photo.iso')= photo.iso
                  tr
                    td.exif-icon(title=t('exif.lens'))
                      span.exif.exif-lens
                    td(ng-bind='photo.lens')= photo.lens
                    