doctype html
html
  head
    title #{pagetitle} | #{meta.title}
    base(href="#{baseurl}")
    link(rel='stylesheet', href='#{baseurl}/css/photos.css')
    link(href="#{baseurl}/favicon.ico", type="image/x-icon", rel="icon")
    link(href="#{baseurl}/favicon.ico", type="image/x-icon", rel="shortcut icon")
    link(rel="alternate", type="application/rss+xml", title="Newsfeed", href="#{feed.feed_url}")
    link(rel="apple-touch-icon", sizes="72x72", href="#{baseurl}/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="#{baseurl}/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="#{baseurl}/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="#{baseurl}/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="#{baseurl}/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", href="#{baseurl}/apple-touch-icon-57x57.png")
    lunk(rel="icon", sizes="32x32", href="#{baseurl}/apple-touch-icon-32x32.png")
    script(data-main='#{baseurl}/js/app', src='#{baseurl}/js/lib/require.js')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    - if (!nometadata)
      meta(http-equiv="Content-language", content="de")
      meta(name="language", content="German")
      meta(name="keywords", content="#{keywords}")
      meta(name="description", content="#{meta.title} - #{meta.description}: #{pagetitle}")
      - if (coordinates)
        meta(name="geo.position",content="#{coordinates}")
      meta(name="generator", content="photos.js")
      meta(name="copyright", content="#{meta.copyright}")
      meta(name="author", content="#{meta.author}")
      meta(name="owner", content="#{meta.author}")
      meta(name="publisher", content="#{meta.author}")
      meta(name="version", content="1.0")
      meta(name="robots", content="all")
      meta(name="DC.Title", content="#{meta.title}")
      meta(name="DC.Subject", content="#{pagetitle}")
      meta(name="DC.Creator", content="photos.js")
      meta(name="DC.Subject", content="#{meta.title}")
      meta(name="DC.Publisher", content="#{meta.author}")
      meta(name="DC.Rights", content="#{meta.author}")
      meta(name="DC.Language", content="de")
      meta(property="og:title", content="#{pagetitle}")
      meta(property="og:site_name", content="#{meta.title}")
      meta(property="og:type", content="article")
      meta(property="og:article:author", content="#{meta.author}")
      meta(property="og:article:tags", content="#{keywords}")
      meta(property="og:url", content="#{baseurl}")
      - if (photo)
        meta(property="og:image", content="#{photo.href}")
        meta(property="og:image:type", content="image/jpg")
        meta(property="og:image:width", content="1140")
        meta(property="og:image:height", content="760")
        meta(property="og:description", content="#{photo.description}")

  body(ng-controller=nojs?null:ngController)
    nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
      div.container.header
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#{baseurl}") #{meta.title}
        div.collapse.navbar-collapse
          - if (breadcrumbs.length > 0) {
            ul.nav.navbar-nav
              ul.breadcrumb.list-inline.hidden-xs
                each breadcrumb in breadcrumbs
                  li
                    a(href="#{baseurl}/#{breadcrumb.href}")= breadcrumb.title
          - }
          ul.nav.navbar-nav.navbar-right
            li(class=page=='map'?'active':undefined)
              a(href="#{baseurl}/archive/map")= t('map')
            li(class=page=='archive'?'active':undefined)
              a(href="#{baseurl}/archive")= t('archive')
            li(class=page=='about'?'active':undefined)
              a(href="#{baseurl}/about")= t('about')
    block content
    - if (!hidefooter)
      footer
        div.container.footer.text-center
          - if (!nometadata)
            p!= meta.footer
